* {
    font-family: "JetBrains Mono Nerd Font";
    /*font-family: "JetBrainsMono Nerd Font";*/
    font-weight: bold;
    font-size: 15px;
}

#custom-notification {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 17px;
    color: #A1BDCE;
    margin: 2px 0px 0px 0px;
}
window#waybar {
    /*background: #0F0F17; */
    background: rgba(15, 15, 25, 0.9);
    /*  border-radius: 15px; */
    /*  border: 2px solid #124323; */
    /* border: 0px solid #A1BDCE; */
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
tooltip {
    background: #171717;
    color: #A1BDCE;
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid #101a24;
}

#workspaces {
    background: rgba(23, 23, 23, 0.0);
    color: #888789;
    box-shadow: none;
    text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    margin: 6px 2px 6px 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
}

#workspaces button {
    background: rgba(23, 23, 23, 0.0);
    color: #A1BDCE;
    box-shadow: none;
    text-shadow: none;
    border-radius: 9px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
    animation: ws_normal 20s ease-in-out 1; 
}

#clock {
    color: #A1BDCE;
    font-size: 15px;
    font-weight: 900;
    font-family: "JetBrains Mono Nerd Font";
    background: rgba(23, 23, 23, 0.0);
    opacity: 1;
    margin: 3px 0px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;

}

#pulseaudio {
    font-weight: normal;
    font-size: 18px;
    color: #6F8FDB;
    background: rgba(22, 19, 32, 0.0);
    opacity: 1;
    margin: 6px 2px 6px 8px;
    padding-left: 4px;
    padding-right: 4px;
}

#mpris{
    color: white;
    animation: repeat;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 6px  6px 8px;
}

@keyframes blink {
    to {
        color: #4a4a4a;

    }
}

#network {
    color: #A1BDCE;
    font-weight: normal;
    font-size: 19px;
    padding-right: 0px;
    padding-left: 4px
}

#custom-notifications,
#taskbar {
    color: #E8EDF0;
    background: rgba(23, 23, 23, 0.0);
    margin: 6px 2px 6px 8px;
    padding-left: 3px;
    padding-right: 3px;
    opacity: 0.1
}

#mpris{
    font-size: 15px;
    font-weight: bold
}

#pulseaudio-slider slider {
    background: #A1BDCE;
    background-color: transparent;
    box-shadow: none;
    margin-right: 7px;
}

#pulseaudio-slider trough {
    margin-top: -3px;
    min-width: 90px;
    min-height: 10px;
    margin-bottom: -4px;
    border-radius: 8px;
    background: #343434;
}

#pulseaudio-slider highlight {
    border-radius: 8px;
    background-color: #2096C0;
}

#custom-padd{
    margin: 6px 2px 6px 8px;
    padding-right: 3px;
    padding-left: 3px;
}